<h1>Accuracy Notice</h1>
<p>
  All the data reported in this dashboard is exclusively for reference. It's presented here with no guarantees of being
  up-to-date or reliable.
</p>

<h3>Energy consumption data</h3>
<p>
  The energy consumption data reported in this dashboard has been obtained using unprofessional equipment, which lacks of
  any kind of documentation about its precision.<br>
  Don't take this data too seriously.
</p>

<h3>Green energy percentage</h3>
<p>
  The percentage of green energy is gathered using <a href="https://www.co2signal.com/">CO2Signal</a>'s API.<br>
  The data reported might be estimated on historical data, and is exclusively CO2Signal's property.
</p>

<h3>References for comparison table</h3>
<ul>
  <li><b>Desk light:</b> calculated on a 3W 270 lumen lamp running for 24 hours = 0.072kWh</li>
  <li><b>Washing machine:</b> estimated at an average of 0.66kWh <a href="https://inthewash.co.uk/washing-machines/how-much-electricity-does-a-washing-machine-use/">(source)</a></li>
  <li><b>Oven:</b> calculated on a 2400W oven running for 30 minutes (the average time to bake a cake, according to my mom) = 1.2kWh</li>
  <li><b>Bitcoin transaction</b>: estimated as 1300kWh <a href="https://digiconomist.net/bitcoin-energy-consumption">(source)</a></li>
</ul>
