<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EcoDash</title>
        <link rel="stylesheet" href="assets/picnic/picnic.min.css">
        <link rel="stylesheet" href="assets/custom.css">
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav>
            <a href="./" class="brand">
                <img class="logo" src="assets/logo.svg" alt="EcoDash Logo">
                <span>{{.Defaults.DashboardName}}</span>
            </a>
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger button">Menu</label>
            <div class="menu">
                {{range .Defaults.HeaderLinks}}
                <a href="{{.Destination}}" class="{{if not .Primary}}pseudo {{end}}button" {{if .NewTab}}target="_blank" rel="noopener noreferrer"{{end}}>{{.Label}}</a>
                {{end}}
            </div>
        </nav>

        {{embed}}

        <hr style="margin-top: 30px">
        <p style="margin: 0; padding: 17px 0 17px 0; text-align:center">
            {{range .Defaults.FooterLinks}}
            <a href="{{.Destination}}" {{if .NewTab}}target="_blank" rel="noopener noreferrer"{{end}}>{{.Label}}</a> |
            {{end}}
            <a href="./accuracy-notice">Disclaimer</a> | <a href="https://ecodash.xyz" target="_blank" rel="noopener noreferrer">EcoDash</a>
        </p>

    </body>
</html>