<h1>Configuration error</h1>

<p>We've detected an issue with your configuration that prevents EcoDash from working. Please check it below, and <a href="https://gitea.massivebox.net/massivebox/ecodash/issues" target="_blank" rel="noopener noreferrer">open an issue</a> if this problem persists.</p>

<pre><code>{{.Error}}</code></pre>

<a href="/admin" class="button">Admin panel</a>