<h1>Login</h1>
<p>Insert your credentials to access the Admin Panel.</p>

{{if .Failed}}
<article class="card" style="background-color: #ff5050; color: white">
    <header>
        <h3>Error!</h3>
    </header>
    <footer>
        <p>There was a problem with the login. Check your credentials and try again.</p>
    </footer>
</article>
{{end}}

<form action="./admin" method="POST">
    <label>Username <input type="text" name="username" required></label>
    <label>Password <input type="password" name="password" required></label>
    <input type="submit" placeholder="Submit">
</form>