html {
    max-width: 70ch;
    padding: 4em 1em;
    margin: auto;
    line-height: 1.75;
}
h3 {
    padding: 2em 0 0.3em;
}
.dropimage, button, .button, [type=submit], .label, [data-tooltip]:after {
    background: #00a440
}

.footnote {
    margin-bottom: 50px;
    color: rgba(0,0,0,0.7);
    font-size: 0.7em;
    text-align:center
}

.home-cards {
    height: 100%;
    padding: 10px 10px 10px 10px;
}
.home-cards h3 { padding-top: 10px }
nav { border-bottom: 1px solid #aaa}
svg, footer img { width: 100% }

@media (prefers-color-scheme: dark) {

    html, body, nav, .card, .home-cards, input, select {
        background: #181a1b;
        color: #ffffff;
    }

    .dropimage, button, .button, [type=submit], .label, [data-tooltip]:after {
        background: #00a440;
        color: #ffffff;
    }

    .footnote {
        color: rgba(255,255,255,0.7);
    }

    svg {
        fill: white;
    }

}

.success {
    background-color: #008000; color: white
}
.warning {
    background-color: #807a00; color: white
}
.error {
    background-color: #800000; color: white
}